env:
  LIBRARY_SOURCE_DIRECTORY=/tmp/fdk-aac
  LIBRARY_INSTALL_DIRECTORY=/opt/fdk-aac

language: java

services:
  - docker

before_install:
  - git checkout ${TRAVIS_BRANCH} # This deals with detached head issue for proper coveralls.io integration
  - docker build --cache-from openjdk:9-jdk-slim-sid --build-arg LIBRARY_INSTALL_DIRECTORY=${LIBRARY_INSTALL_DIRECTORY} --build-arg LIBRARY_SOURCE_DIRECTORY=${LIBRARY_SOURCE_DIRECTORY} -t jna-aac-encoder .

jdk:
  - oraclejdk9

script:
  - docker run -e "COVERALLS_REPO_TOKEN=${COVERALLS_REPO_TOKEN}" jna-aac-encoder -PlibPath=${LIBRARY_INSTALL_DIRECTORY}/lib clean junitPlatformTest jacocoTestReport coveralls

