name: Multi Platform CI

on:
  push:
    branches-ignore:
      - main
      - wip*
jobs:
  ci:
    name: run tests, style verification, measure code coverage and publish to nexus staging repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, windows-2022, macos-11 ]
    env:
      OS: ${{ matrix.os }}
    steps:

      - name: Git checkout
        uses: actions/checkout@v2

      - name: Java JDK 11 setup
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: "zulu"

      - name: Setup Ubuntu OS packages
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libmediainfo0v5

      - name: Run Tests
        run: ./gradlew clean build check test coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}


      # Publish to the staging repository only once, from the Linux Runner
      - name: Publish to Staging repository
        if: runner.os == 'Linux'
        run: ./gradlew publishToSonatype
        env:
          NEXUS_TARGET: SNAPSHOT
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}